body {
  background: url(../img/sandpaper.png);
}

header {
  height: 200px;
  border-bottom: 1px inset black;
}

#main-heading {
  position: relative;
  font-family: 'Gloria Hallelujah', 'cursive';
  text-align: center;
  vertical-align: middle;
  margin: 2em;
  /*line-height: 90px;*/
}

.columns {
  height: 600px;
  border-bottom: 1px inset black;
}

.small-4 {
  border-right: 1px inset black;
}


.three {
  border-bottom: 1px inset;
}

.about {
  height: 600px;
  width: auto;
  border: 1px inset black;
}

.technical-skills {
  height: 600px;
  width: auto;
}

.projects {
  height: 600px;
  width: auto;
}

footer {
  height: 100px;
  border-top: 1px inset black;
}