body {
  background: url(../img/sandpaper.png);
  margin: 0 auto;
  font-family: 'Roboto Slab', 'serif';
}

header {
  height: 200px;
}

#main-heading {
  position: relative;
  font-family: 'Gloria Hallelujah', 'cursive';
  text-align: center;
  vertical-align: middle;
  margin: 2.7em;
}

#portrait {
  margin-top: 3em;
  border: 4px solid rgb(210, 208, 203);
  border-radius: 5px;
}

.three {
  border-bottom: 1px solid white;
}

.about-wrapper {
  padding-top: 5em;
  padding-bottom: 5.5em;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  display: inline;
}

.technical-skills {
  border-bottom: 1px solid white;
  margin-top: 5em;
  padding-bottom: 5em;
}

.technical-skills h3 {
  margin-bottom: 1.5em;
}

.projects {
  margin-top: 5em;
  margin-bottom: 5em;
}

.proff-background {
  margin-top: 4.5em;
  padding-bottom: 5em;
  border-bottom: 1px solid white;
}

#xpress-logo {
  margin-top: 1em;
}

.contact {
  margin-top: 6em;
  padding-bottom: 6em;
  text-align: center;
}

.contact li {
  display: inline;
}