body {
  background: url(../img/sandpaper.png);
  margin: 0 auto;
}

header {
  height: 200px;
  border-bottom: 1px inset white;
}


#main-heading {
  position: relative;
  font-family: 'Gloria Hallelujah', 'cursive';
  text-align: center;
  vertical-align: middle;
  margin: 2em;
}

#portrait {
  border: 4px solid rgb(210, 208, 203);
  border-radius: 25px;
}


.three {
  border-bottom: 1px inset;
}

.about-wrapper {
  padding-top: 60px;
  height: 500px;
  vertical-align: middle;
  width: auto;
  border-bottom: 1px inset white;
  display: inline;
}

.technical-skills {
  height: 400px;
  width: auto;
  border-bottom: 1px inset white;
  margin: 2em;
}

.projects {
  height: 1000px;
  width: auto;
}

footer {
  height: 400px;
}

.contact {
  margin-top: 20px;
  text-align: center;
}

.contact li {
  display: inline;
}